.top-container {
  background-color: #2d1734;
  position: relative;
  padding: 100px;
}
.middle-container {
  background-color: #2d1734;
  margin: 100px 0;
}
.bottom-container {
  background-color: #2d1734;
  padding: 50px 0px 20px;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Sacramento", serif;
  color: #ffc1f3;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 90px;
  font-family: "Sacramento", cursive;
  color: #c147e9;
  line-height: 2;
}

h2 {
  font-size: 42px;
  color: #c147e9;
  font-weight: lighter;
  /* font-family: "Montserrat", sans-serif; */
}
h3 {
  color: #c147e9;
  font-weight: inherit;
  font-size: 35px;
  padding-bottom: 10px;
}
.red {
  background-color: red;
  height: 200px;
  width: 200px;
}
.blue {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  right: 114px;
  top: 29px;
}

.bottom-cloud {
  position: absolute;
  /* left: 159px;
  bottom: 413px;  */
  left: 75px;
  bottom: 346px;
}

p {
  font-size: 20px;
  color: #c147e9;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code {
  width: 50%;
  float: left;
  margin-right: 30px;
}
.code2 {
  width: 50%;
  float: right;
  margin-left: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.btn {
  background: #810ca8;
  background-image: -webkit-linear-gradient(top, #810ca8, #2d033b);
  background-image: -moz-linear-gradient(top, #810ca8, #2d033b);
  background-image: -ms-linear-gradient(top, #810ca8, #2d033b);
  background-image: -o-linear-gradient(top, #810ca8, #2d033b);
  background-image: linear-gradient(to bottom, #810ca8, #2d033b);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  color: #e5b8f4;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #810ca8;
  background-image: -webkit-linear-gradient(top, #810ca8, #c147e9);
  background-image: -moz-linear-gradient(top, #810ca8, #c147e9);
  background-image: -ms-linear-gradient(top, #810ca8, #c147e9);
  background-image: -o-linear-gradient(top, #810ca8, #c147e9);
  background-image: linear-gradient(to bottom, #810ca8, #c147e9);
  text-decoration: none;
}

a {
  color: #c147e9;
  font-weight: bold;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #ffc1f3;
}

.copyright {
  color: #c147e9;
  font-size: 1 rem;
  padding: 20px 0px;
}

.copyright:hover {
  color: #ffc1f3;
}
.pro {
  position: absolute;
  left: 662px;
  top: 1242px;
}

.auth:hover {
  color: #ffc1f3;
}
